{% assign hide_css = "" %}
{% if settings.show == 'desktop' %}
  {% assign hide_css = "hide--mobile" %}
{% elsif settings.show == 'mobile'  %}
  {% assign hide_css = "hide--larger-than-mobile" %}
{% endif %}

<div class="featured-collection {{ hide_css }}" style="background-color: {{ section.settings.background_color }}">
  <h1 class="featured-collection__title">{{ section.settings.title }}</h1>

  {% assign preview_html = "" %}
  {% assign collection_html = "" %}
  {% for product in section.settings.collection.products limit: section.settings.products_to_show %}
    <input type="radio" id="{{- product.handle -}}"
           name="featured-collection-radio"
           class="featured-collection__radio featured-collection__radio--preview-{{- forloop.index0 -}}"
            {% if forloop.index0 == 0 %} checked {% endif %}>
    {% if section.settings.show_preview %}
      {% capture preview_html %}
        {{ preview_html }}
        <div class="featured-collection__product-preview featured-collection__product-preview--{{- forloop.index0 -}}">
          <div class="featured-collection__product-preview-image-container">
            <picture class="featured-collection__product-preview-picture">
              <source media="(max-width: 900px)"
                      width="{{ product.featured_image.width }}"
                      height="{{ product.featured_image.height }}"
                      srcset="{{ product.featured_image | img_url: '600x600' }} 400w,
                      {{ product.featured_image | img_url: '800x800' }} 600w,
                      {{ product.featured_image | img_url: '1200x1200' }} 800w,
                      {{ product.featured_image | img_url: '1400x1400' }} 1000w,
                      {{ product.featured_image | img_url: '1600x1600' }} 1200w,
                      {{ product.featured_image | img_url: '1800x1800' }} 1400w,
                      {{ product.featured_image | img_url: '2000x2000' }} 1600w" />

              <img class="featured-collection__product-preview-image"
                   alt="Image Alt"
                   width="{{ product.featured_image.width }}"
                   height="{{ product.featured_image.height }}"
                   src="{{ product.featured_image | img_url: 'master' }}"
                   srcset="{{ product.featured_image | img_url: '1600x1600' }} 1800w,
                  {{ product.featured_image | img_url: '1800x1800' }} 2000w,
                  {{ product.featured_image | img_url: '2000x2000' }} 2200w,
                  {{ product.featured_image | img_url: '2200x2200' }} 2400w,
                  {{ product.featured_image | img_url: '2400x2400' }} 2600w,
                  {{ product.featured_image | img_url: '2600x2600' }} 2800w,
                  {{ product.featured_image | img_url: '2800x2800' }} 3000w,
                  {{ product.featured_image | img_url: '3000x3000' }} 3200w,
                  {{ product.featured_image | img_url: '3200x3200' }} 3600w,
                  {{ product.featured_image | img_url: '3600x3600' }} 4000w,
                  {{ product.featured_image | img_url: 'master' }} 4400w" />
            </picture>
          </div>
          <div class="featured-collection__product-preview-details-container">
            <div class="featured-collection__product-preview-details">
              <p class="featured-collection__product-preview-title">{{ product.title }}</p>
              <p class="featured-collection__product-preview-size">{{ product.size }}</p>
              <p class="featured-collection__product-preview-description">{{ product.description }}</p>
              <p class="featured-collection__product-preview-price">{{ product.price | money }}</p>

              <a class="button button-wireframe button-wireframe--style2 featured-collection__product-preview-view">View</a>
            </div>
          </div>
        </div>
      {% endcapture %}
    {% endif %}

    {% capture collection_html %}
      {{ collection_html }}
      <label for="{{- product.handle -}}" class="featured-collection__grid-item">
        <div class="featured-collection__product-image-container">
          <picture class="featured-collection__product-picture">
            <source media="(max-width: 900px)"
                    width="{{ product.featured_image.width }}"
                    height="{{ product.featured_image.height }}"
                    srcset="{{ product.featured_image | img_url: '600x600' }} 400w,
                      {{ product.featured_image | img_url: '800x800' }} 600w,
                      {{ product.featured_image | img_url: '1200x1200' }} 800w,
                      {{ product.featured_image | img_url: '1400x1400' }} 1000w,
                      {{ product.featured_image | img_url: '1600x1600' }} 1200w,
                      {{ product.featured_image | img_url: '1800x1800' }} 1400w,
                      {{ product.featured_image | img_url: '2000x2000' }} 1600w" />

            <img class="featured-collection__product-image"
                 alt="Image Alt"
                 width="{{ product.featured_image.width }}"
                 height="{{ product.featured_image.height }}"
                 src="{{ product.featured_image | img_url: 'master' }}"
                 srcset="{{ product.featured_image | img_url: '1600x1600' }} 1800w,
                  {{ product.featured_image | img_url: '1800x1800' }} 2000w,
                  {{ product.featured_image | img_url: '2000x2000' }} 2200w,
                  {{ product.featured_image | img_url: '2200x2200' }} 2400w,
                  {{ product.featured_image | img_url: '2400x2400' }} 2600w,
                  {{ product.featured_image | img_url: '2600x2600' }} 2800w,
                  {{ product.featured_image | img_url: '2800x2800' }} 3000w,
                  {{ product.featured_image | img_url: '3000x3000' }} 3200w,
                  {{ product.featured_image | img_url: '3200x3200' }} 3600w,
                  {{ product.featured_image | img_url: '3600x3600' }} 4000w,
                  {{ product.featured_image | img_url: 'master' }} 4400w" />
          </picture>
        </div>

        <p class="featured-collection__product-title">
          {{ product.title }}
        </p>
      </label>
    {% endcapture %}

  {% endfor %}

  {{ preview_html }}

  <div class="featured-collection__grid">
    {{ collection_html }}
  </div>

  {% if section.settings.show_view_all %}
    <div class="featured-collection__view-all-button-container">
      <a class="button">All Products</a>
    </div>
  {% endif %}

</div>

{% schema %}
{
  "name": "Featured Collection",
  "class": "featured-collection__section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Our Products",
      "label": "Title"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 10,
      "step": 2,
      "default": 8,
      "label": "Products to Show"
    },
    {
      "type":"select",
      "id":"show",
      "label":"Show",
      "options":[
        {
          "value":"both",
          "label":"All"
        },
        {
          "value":"desktop",
          "label":"Desktop"
        },
        {
          "value":"mobile",
          "label":"Mobile"
        }
      ]
    },
    {
      "type":"color",
      "id":"background_color",
      "label":"Backround Color",
      "default":"#fcf4ee"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "Show View All Products"
    },
    {
      "type": "checkbox",
      "id": "show_preview",
      "default": true,
      "label": "Show Preview"
    }
  ],
  "presets": [
    {
      "name": "Featured Collection"
    }
  ]
}
{% endschema %}