<footer class="footer">
  <div class="footer__top-layer">
    <div class="footer__button-container hide--mobile">
      <a href="#body" class="button button-wireframe footer__button">Back To Top</a>
    </div>

    <div class="footer__round-logo-container">
      <img src="{{ 'round-footer-logo.png' | asset_url }}" class="footer__round-logo">
    </div>
    <div class="footer__our-shop">
      <a class="footer__our-shop-text">Our Shop {{ section.settings.logo }}<img class="footer__arrow" src="{{ 'arrow.png' | asset_url }}"/></a>
    </div>
  </div>
  <div class="footer__bottom-layer">
    <nav class="footer__nav">
      <ul class="footer__nav-list">
        {%- for link in linklists[section.settings.footer_menu].links -%}
          <li class="footer__nav-list-item">
            <a class="footer__nav-list-item-link" href="link.url">
              {{ link.title }}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </nav>
    <div class="footer__white-logo-container">
      <img class="footer__white-logo" src="{{ 'logo-white-footer.png' | asset_url }}">
    </div>
    <nav class="footer__nav footer__nav--secondary">
      <ul class="footer__nav-list">
        {%- for link in linklists[section.settings.secondary_menu].links -%}
          <li class="footer__nav-list-item">
            <a href="link.url" class="footer__nav-list-item-link">
              {{ link.title }}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </nav>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "class": "footer__section",
  "settings": [
    {
      "type": "link_list",
      "id": "footer_menu",
      "label": "Main Menu",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "secondary_menu",
      "label": "Secondary Menu"
    }
  ],
  "blocks": []
}
{% endschema %}